* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.left-pane {
    flex-grow: 1;
    background-color:#000;
    height: 100vh;
    color: teal;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px
}

.right-pane {
    flex-grow: 3; 
    background-color:teal;
    height: 100vh;
    color: black;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px
}

#select-project {
    height: 40px;
}

.buttons-div {
    display: flex;
    align-items: center;
    gap: 40px;
}

.create-btn, .change-submit-btn {
    align-self: flex-start;
    border: 2px whitesmoke solid;
    font-size: 18px;
    color: whitesmoke;
    border-radius: 18px;
    padding: 10px 20px;
    background-color: rgb(27, 177, 177);
    font-weight: bold;
    cursor: pointer;
}

.full-screen {
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.full-screen form {
    padding: 30px 10px;
    background-color: rgb(27, 177, 177);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    border-radius: 5px;
    width: 700px;
}

.pop-up-form input {
    padding: 15px 20px;
    border-radius: 5px;
    border: 1px slategray solid;
    width: 80%;
    font-size: 30px;
}

#project-description, #task-description, #change-task-description, #change-project-description {
    padding: 15px 20px;
    border-radius: 5px;
    border: 1px slategray solid;
    width: 80%;
    font-size: 30px;
    height: 300px;
}

.exit-btn {
    border: none;
    align-self: flex-end;
    background-color: transparent ;
    color: whitesmoke;
    font-size: 38px;
    font-weight: 400;
    padding: 0;
    cursor: pointer;
    width: 100px;
}

#submitTask, #submitProject, #submit-change-task {
    align-self: center;
    font-size: 26px;
}

#table-container {
    padding: 5%;
}

table {
    width: 100%;
}

#table-container h2 {
    text-align: left;
    margin: 20px 0;
}

.remove-btn, .add-btn, .change-btn {
    border: none;
    cursor: pointer;
    background-color: white;
    text-decoration: underline;
    margin: 0 3px;
}

table {
    background-color: white;
    border: 3px solid black ;
    border-collapse: collapse;
}

td, th {
    padding: 5px 0;
    border: 1px solid black ;
}

#table-container h2 {
    color: white;
}